<?xml version="1.0"?>
<config>
    <modules>
        <Procommerz_Russify>
            <version>0.1.2</version>
        </Procommerz_Russify>
    </modules>
    <global>
        <blocks>
            <procommerz_russify>
                <class>Procommerz_Russify_Block</class>
            </procommerz_russify>
        </blocks>
        <helpers>
            <procommerz_russify>
                <class>Procommerz_Russify_Helper</class>
            </procommerz_russify>
        </helpers>
        <models>
            <procommerz_russify>
                <class>Procommerz_Russify_Model</class>
                <resourceModel>procommerz_russify_resource</resourceModel>
            </procommerz_russify>
            <procommerz_russify_resource>
                <class>Procommerz_Russify_Model_Resource</class>
                <entities>
                    <result>
                        <table>russify_result</table>
                    </result>
                </entities>
            </procommerz_russify_resource>
        </models>
        <resources>
            <procommerz_russify_setup>
                <setup>
                    <module>Procommerz_Russify</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </procommerz_russify_setup>
            <procommerz_russify_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </procommerz_russify_write>
            <procommerz_russify_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </procommerz_russify_read>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Procommerz_Russify>
                    <files>
                        <default>Procommerz_Russify.csv</default>
                    </files>
                </Procommerz_Russify>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <procommerz_russify>
                        <type>model</type>
                        <class>procommerz_russify/observer</class>
                        <method>orderPageRussify</method>
                    </procommerz_russify>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <procommerz_russify>
                    <file>procommerz_russify.xml</file>
                </procommerz_russify>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <russify>
                <use>admin</use>
                <args>
                    <module>Procommerz_Russify</module>
                    <frontName>russify</frontName>
                </args>
            </russify>
        </routers>
    </admin>
</config>