<?xml version="1.0"?>
<config>
    <modules>
        <Procommerz_Russify>
            <version>0.1.0</version>
        </Procommerz_Russify>
    </modules>
    <global>
        <blocks>
            <procommerz_russify>
                <class>Procommerz_Russify_Block</class>
            </procommerz_russify>
        </blocks>
        <helpers>
            <procommerz_russify>
                <class>Procommerz_Russify_Helper</class>
            </procommerz_russify>
        </helpers>
        <models>
            <procommerz_russify>
                <class>Procommerz_Russify_Model</class>
            </procommerz_russify>
        </models>
        <resources>
            <procommerz_russify_setup>
                <setup>
                    <module>Procommerz_Russify</module>
                </setup>
            </procommerz_russify_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Procommerz_Russify>
                    <files>
                        <default>Procommerz_Russify.csv</default>
                    </files>
                </Procommerz_Russify>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <procommerz_russify>
                        <type>model</type>
                        <class>procommerz_russify/observer</class>
                        <method>orderPageRussify</method>
                    </procommerz_russify>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <russify>
                <use>admin</use>
                <args>
                    <module>Procommerz_Russify</module>
                    <frontName>russify</frontName>
                </args>
            </russify>
        </routers>
    </admin>
</config>